/* Base styles */
body {
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: #EDEDDD;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 500;
}

/* Header styles */
.hero {
    background-color: #67917D;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #0A393C;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #055F67;
}

.button:active {
    background-color: #a9a9a9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 100px;
    width: 100px;
    margin: 30px;
    border-radius: 100%;
}

.social {
    margin: 20px;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style-type: none;
    width: 900px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

/* Footer styles */
footer {
    background-color: #9EB998;
    color: white;
    text-align: center;
    padding: 80px;
}

/* Section styles */
.sub-section {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.information {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
}

.headshot-container {
    width: calc(50% - 20px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.column {
    margin-bottom: 20px;
}

.headshot {
    margin-top: 70px;
    width: 100%;
    max-width: 300px;
    border-radius: 20%;
    padding: 10px;
}

@media only screen and (max-width: 1000px) {
    .sub-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px;
    }

    .information {
        width: 100%;
    }

    .headshot-container {
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }

    .headshot {
        width: 400px;
        height: 350px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

coming-soon {
    pointer-events: none;
    opacity: 0.5;
  }

  .project-card {
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .project-card:hover {
    transform: scale(1.1);
  }

  footer a {
    text-decoration: underline;
  }

  @media screen and (max-width: 600px) {
    .project-card {
      width: 100%;
      display: block;
    }
  }

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    width: 300px !important;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image-container {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 25px;
}

.project-details {
    padding: 20px;
}

.project-details h3 {
    font-size: 1.2em;
    margin-top: 0;
}

.project-details .subtext {
    color: #666;
}

.project-link {
    color: #0A393C;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }

    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
      }
      
      .nav-list {
        display: flex;
        flex-direction: column; /* Ensure list items display vertically */
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 50px;
        transition: right 0.3s ease;
      }
      
      .nav-list.show {
        right: 0;
      }
      
      .nav-list li {
        padding: 8px 10px;
        margin: 0;
      }
      
      .nav-list li a {
        text-decoration: none;
        color: white;
        background-color: transparent;
      }
      
      .nav-list li a:hover {
        background-color: #0A393C;
      }
      
      nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #67917D;
      }
      
      .logo {
        display: none;
      }
      
}

.bio {
    font-size: 20px;
}

/* Other styles */
hr {
    margin-left: 20px;
    margin-right: 20px;
}

.coming-soon {
    opacity: 0.5;
}

.coming-soon:hover {
    cursor: not-allowed;
}

.project-image {
    width: 200px;
    border-radius: 100px;
    margin-top: 25px;
}

.project-link {
    text-decoration: none;
    color: #0A393C;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (min-width: 1001px) {
    .hamburger {
        display: none;
    }
}

